/*  your css code here. If applicable */
*{
	margin: 0px;
	padding: 0px;
	
}
.circles{
	display: flex;
}
.circle{
	width: 50px;
	height: 50px;
	
	margin: 10px;
	border-radius: 50%;
}

.btns button{
	width: 100px;
	height: 25px;
	margin-right: 10px;
}
.active{
	background-color: black;
}
